@model IEnumerable<To_Do_List.Models.Item>

@{
    ViewData["Title"] = "To-Do List";
}

<h2>What do you have planned for today?</h2>
<p><a asp-action="Create">Add Task</a></p>

@if(Model.Count() == 0){
    <h3>There are currently no entries</h3>
}
else{
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Tasks:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><a> |</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}